aside.prog-navigation
	border-right 15px solid transparent

	&:before
		content ''
		display block
		position absolute
		z-index -1
		top 0
		bottom 0
		left 15px
		right 0
		height 1000vh
		background linear-gradient(left, 60% rgba(234, 234, 233, 0.0), rgba(234, 234, 233, 1))
			
	.nav-header
					
			.icon
				background color-nav-header no-repeat center / auto 60%
				min-height 3em
				position relative
				width 100%
				z-index 5
				
				&:after
					content ''
					display block
					height 0
					width 0
					border 1.0em solid transparent
					border-right-width 1.4em
					border-left-width 1.4em
					border-top-color color-nav-header
					position absolute
					margin auto
					top 100%
					left 0
					right 0
					
			&.active
				
				.icon
					background-color color-nav-header-active
				
					&:after
						border-top-color color-nav-header-active
		
		.nav-item
			position relative
			padding 0.001em
			list-style none
			border-bottom 1px solid rgba(0,0,0,0.15)
			display inline-block
			width 100%
			cursor pointer
			
			h3
				font-size 1.26em
				text-align center
				margin 1em 0
				color color-nav-header
				
				& > strong
					display block
				
				& > span
					display block
					text-align left
					margin 1em 2em
					font-size 0.8em
					
		.active .nav-item.active
			background color-nav-element-active
			
			&:after
				content ''
				display block
				position absolute
				margin auto
				height 0
				width 0
				border 1.0em solid transparent
				border-left-color color-nav-element-active
				top 0
				bottom 0
				left 100%

			h3
				color color-nav-header-active

		.courses-nav-overview
			.icon
				background-image url('/images/ico-laptop.png')
				background-size auto 84%

		.courses-nav-items
			.icon
				background-image url('/images/ico-certificate.png')
				background-size auto 74%

		.courses-nav-library
			.icon
				background-image url('/images/ico-books.png')
				background-size auto 66%
