.mainContent .cert-display
	
	@media (min-width 20em)
		margin 0 -45px 1em
		width 100vw
		display inline-block
		
	@media (min-width 48.75em)
		margin 0 0 1em
		width 100%
	
	@media (min-width 62em)
		text-align right
		padding-top 122px
		
	& > h2
		position relative
		
		@media (min-width 20em)
			background color-primary
			color white
			font-size 1.1em
			padding 0.7em 0
			margin 1em 0 1em
			text-align center
			
		@media (min-width 48.75em)
			background transparent
			color color-primary
			font-size 1.4em
			padding 0
			margin 0 0 0.5em
			text-align inherit
			
		@media (min-width 62em)
			margin 0
			

	& > p
		margin 0
		
		strong
			text-transform uppercase

	.cert-fig-container
		display inline-block
		float left
		position relative
		
		@media (min-width 62em)
			float right
			position absolute
			top 0
			right 0
		
		&.new:after
			@media (min-width 20em)
				content 'NEW'
				display inline-block
				padding 0.2em 0.5em 0.2em 1em
				position absolute
				left 0
				top 3em
				background color-primary
				color white
				font-weight font-weight-semibold
				
			@media (min-width 62em)
				display none
		
		.cert-fig
			margin-bottom -40px
			
	p + .cta.btn.btn-primary
		margin 0.5em 0
