.overview-course-sub-nav
	
	@media (min-width 48.75em)
		& > ul
			position relative
			background url('/images/home-office.jpg') no-repeat 0 0 / 100% auto
			width 100%
			height 0
			padding-bottom 40.1746%
				
			&:before
				content ''
				display block
				width 100%
				height 1.4em

			li
				list-style-type none
				position static
				padding-left 70%
				
				a.screen
					display block
					font-size 1.2vw
					line-height 1.1em
					padding 0.5em 0 0.5em 2em
					
				a.screen
					&:after
						content ''
						-webkit-pointer-events none
						-moz-pointer-events none
						-ms-pointer-events none
						pointer-events none
						display block
						position absolute
						top 8.7%
						left 29.8%
						height 55.3%
						width 35.3%
						background no-repeat 0 0 / 100% 100%
						opacity 0
						transition opacity 0.15s ease-in 0.05s

					&.agile-management:after
						background-image url('/images/screen-agile-mgmt.jpg')
					&.agile-management:hover:after
						opacity 1
						transition opacity 0.15s ease-in 0s
							
					&.agile-management-it:after
						background-image url('/images/screen-agile-mgmt-it.jpg')
					&.agile-management-it:hover:after
						opacity 1
						transition opacity 0.15s ease-in 0s
						
					&:before
						content ''
						display inline-block
						position relative
						width 0.6em
						height 0.6em
						float left
						margin 0.05em -0.6em 0em -1.4em
						padding 0.5em
						font-size 1.4vw
						transform scale(0.8)
						background url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill%3A%2384C346%3B%7D%0A%3C/style%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M17.4%200l16.4%2020L17.4%2040H6.2l16.4-20L6.2%200H17.4z%22/%3E%3C/svg%3E') no-repeat
						transition transform 0.10s ease-in 0s
						
					&:hover:before
						transform scale(1)

		h3
			text-transform uppercase
			font-size 1.2vw
			font-weight font-weight-semibold
			margin 1em 0
			
			&:after
				content ''
				display inline-block
				height 0.8em
				width 0.8em
				margin-left 0.8em
				background url('data:image/svg+xml;charset=utf-8,%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2050%2050%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill%3A%2384C346%3B%7D%0A%3C/style%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M0%2050V7.9L7.9%200l0%2036.4L44.4%200%2050%205.6%2013.5%2042H50l-7.9%208H0z%22/%3E%3C/svg%3E') no-repeat

	& > ul
		li
			a.screen
				@media (min-width 93.75em)
					font-size 1.2em
					width 14em
