.course-sub-nav
	padding 7px 0
	@media (min-width bs-large)
		-webkit-filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
		filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
		margin 20px 0
		padding 2vw 0
	
	ul
		padding 0
		border-top 1px solid color-border-gray
		@media (min-width bs-large)
			border 0
	
	li
		position relative
		cursor pointer
		list-style none
		padding 5px 10px
		
		@media (min-width bs-large)
			&:before
				content ''
				position absolute
				bottom -20px
				left 0
				right 0
				margin 0 auto
				width 0
				height 0
				border-left 64px solid transparent
				border-right 64px solid transparent
				border-top 20px solid white
			&:after
				content ''
				position absolute
				bottom -15px
				left 0
				right 0
				margin 0 auto
				width 0
				height 0
				border-left 50px solid transparent
				border-right 50px solid transparent
				border-top 15px solid color-primary
				
			&:first-child:before
				content ''
				position absolute
				bottom -20px
				left 0
				right 10px
				margin 0 auto
				width 0
				height 0
				border-left 64px solid transparent
				border-right 64px solid transparent
				border-top 20px solid white
			&:first-child:after
				content ''
				position absolute
				bottom -15px
				left 0
				right 10px
				margin 0 auto
				width 0
				height 0
				border-left 50px solid transparent
				border-right 50px solid transparent
				border-top 15px solid color-primary
				
			&:nth-child(3):before
				content ''
				position absolute
				bottom -20px
				left 10px
				right 0
				margin 0 auto
				width 0
				height 0
				border-left 64px solid transparent
				border-right 64px solid transparent
				border-top 20px solid white
				
			&:nth-child(3):after
				content ''
				position absolute
				bottom -15px
				left 10px
				right 0
				margin 0 auto
				width 0
				height 0
				border-left 50px solid transparent
				border-right 50px solid transparent
				border-top 15px solid color-primary
							
		@media (min-width bs-large)
			cursor default
			padding 0 10px
		
		&:first-child
			border-right 1px solid color-border-gray
			@media (min-width bs-large)
				padding-left 0
				border none
			
		&:nth-child(3)
			border-left 1px solid color-border-gray
			@media (min-width bs-large)
				padding-right 0
				border none
	
		> div
			text-align center
			@media (min-width bs-large)
				cursor pointer
				padding 15px
				border-top 5px solid color-primary
				background-color white
			
			.icon
				max-width 30px
				margin 5px auto
				@media (min-width bs-large)
					max-width 35px
				@media (min-width screen-small)
					max-width 45px
					
			hr
				display none
				@media (min-width bs-large)
					display block
					height 3px
					max-width 65%
					margin 10px auto
					border-top 1px solid color-border-gray
					border-bottom 1px solid color-border-gray
			
			h3
				margin 0
				padding 0
				font-size 14px
				font-weight bold
				text-transform uppercase
			
			.arrow
				display none
		
		&.current
			
			@media (min-width bs-large)
				&:before
					content ''
					position absolute
					bottom -20px
					left 0
					right 0
					margin 0 auto
					width 0
					height 0
					border-left 64px solid transparent
					border-right 64px solid transparent
					border-top 20px solid white
					
				&:after
					content ''
					position absolute
					bottom -15px
					left 0
					right 0
					margin 0 auto
					width 0
					height 0
					border-left 50px solid transparent
					border-right 50px solid transparent
					border-top 15px solid color-secondary
					
				&:first-child:before
					content ''
					position absolute
					bottom -20px
					left 0
					right 10px
					margin 0 auto
					width 0
					height 0
					border-left 64px solid transparent
					border-right 64px solid transparent
					border-top 20px solid white
					
				&:first-child:after
					content ''
					position absolute
					bottom -15px
					left 0
					right 10px
					margin 0 auto
					width 0
					height 0
					border-left 50px solid transparent
					border-right 50px solid transparent
					border-top 15px solid color-secondary
					
				&:nth-child(3):before
					content ''
					position absolute
					bottom -20px
					left 10px
					right 0
					margin 0 auto
					width 0
					height 0
					border-left 64px solid transparent
					border-right 64px solid transparent
					border-top 20px solid white
					
				&:nth-child(3):after
					content ''
					position absolute
					bottom -15px
					left 10px
					right 0
					margin 0 auto
					width 0
					height 0
					border-left 50px solid transparent
					border-right 50px solid transparent
					border-top 15px solid color-secondary
		
			> div
				@media (min-width bs-large)
					border-color color-secondary
				
				.icon
					
					svg .st0
						fill color-secondary
