doctype html
html(lang="en")
	head
		title Agile Management Training Online | AM Course | Villanova
		meta(name='description', content='agile management is awesome')
		meta(name='keywords', content='agile management')
		meta(property='og:locale', content='en_US')
		meta(property='og:url', content='http://d6.villanovau.com/programs/certificates/agile-management/')
		meta(property='og:site_name', content='Villanova University')
		meta(property='og:title', content='Agile Management Training Online | AM Course | Villanova')
		meta(property='og:description', content='agile management is awesome')
		meta(property='og:image', content='http://d6.villanovau.com/media/1624642/vu-logo.png')
		meta(property='og:type', content='website')
		meta(property='twitter:card', content='summary')
		meta(property='twitter:title', content='Agile Management Training Online | AM Course | Villanova')
		meta(property='twitter:description', content='agile management is awesome')

		link(rel='shortcut icon', href='http://d6.villanovau.com/media/1624653/vu.ico')

		meta(name='robots', content='follow')
		meta(name='robots', content='index')

		link(rel='canonical', href='http://d6.villanovau.com/programs/certificates/agile-management/')

		script(src='http://d6.villanovau.com/scripts/jquery.1.8.3.min.js')
		script(src='http://d6.villanovau.com/scripts/jquery.migrate.1.2.1.min.js')
		link(rel='stylesheet', href='http://d6.villanovau.com/css/less/bootstrap/vu/villanovau.bootstrap.css', type='text/css', media='screen')
		link(rel='stylesheet', href='http://d6.villanovau.com/css/vu-military-root.css')
			
		| <!--[if lt IE 9]>
		script(src='/scripts/html5shiv.js')
		script(src='/scripts/respond.min.js')
		| <![endif]-->
		script.
			var _gaq = [['_setAccount', 'UA-294285-1'], ['_trackPageview']];
			(function(d) {
				var g = d.createElement('script'), s = d.scripts[0];
				g.src = '//www.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g, s);
			}(document));

		#fb-root
		//- script.
			(function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) { return; }
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1565016497099091";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		script(src='//play.vidyard.com/v0/api.js')

		// ESHINN - Newest Stylus build include
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,900,900italic,400italic,300,300italic', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="/css/main.css")

	body

		//- script.
			// This is called with the results from from FB.getLoginStatus().
			function statusChangeCallback(response) {
				console.log('statusChangeCallback');
				console.log(response);
				// The response object is returned with a status field that lets the
				// app know the current login status of the person.
				// Full docs on the response object can be found in the documentation
				// for FB.getLoginStatus().
				if (response.status === 'connected') {
					// Logged into your app and Facebook.
					testAPI();
				} else if (response.status === 'not_authorized') {
					// The person is logged into Facebook, but not your app.
					document.getElementById('status').innerHTML = 'Please log '+'into this app.';
				} else {
					// The person is not logged into Facebook, so we're not sure if
					// they are logged into this app or not.
					document.getElementById('status').innerHTML = 'Please log '+'into Facebook.';
				}
			}

			// This function is called when someone finishes with the Login
			// Button.  See the onlogin handler attached to it in the sample
			// code below.
			function checkLoginState() {
				FB.getLoginStatus(function(response) {
					statusChangeCallback(response);
				});
			}
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '1565016497099091',
					cookie     : true,  // enable cookies to allow the server to access
					// the session
					xfbml      : true,  // parse social plugins on this page
					version    : 'v2.2' // use version 2.2
				});

				// Now that we've initialized the JavaScript SDK, we call
				// FB.getLoginStatus().  This function gets the state of the
				// person visiting this page and can return one of three states to
				// the callback you provide.  They can be:
				//
				// 1. Logged into your app ('connected')
				// 2. Logged into Facebook, but not your app ('not_authorized')
				// 3. Not logged into Facebook and can't tell if they are logged into
				//    your app or not.
				//
				// These three cases are handled in the callback function.

				FB.getLoginStatus(function(response) {
					statusChangeCallback(response);
				});
			};

			// Load the SDK asynchronously
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

			// Here we run a very simple test of the Graph API after login is
			// successful.  See statusChangeCallback() for when this call is made.
			function testAPI() {
				console.log('Welcome!  Fetching your information.... ');
				FB.api('/me', function(response) {
					console.log('Successful login for: ' + response.name);
					//document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';

					console.log('Pre-popping BAT form for: ' + response.name);

					$("#Element2").val(response.first_name);
					$("#field2").addClass("hideLabel");
					$("#field2").removeClass("blurInput");
					$("#Element6").val(response.last_name);
					$("#field6").addClass("hideLabel");
					$("#field6").removeClass("blurInput");
					$("#Element8").val(response.email);
					$("#field8").addClass("hideLabel");
					$("#field8").removeClass("blurInput");
				});
			}

		div(itemscope='', itemtype='http://schema.org/Article', style='display:none;')
			h1(itemprop='name') Agile Management Training Online | AM Course | Villanova
			div(itemprop='description')
				p agile management is awesome
			div(itemprop='telephone', content='855-300-1473')
				p Phone: 855-300-1473
			div(itemprop='website')
				p
					| Website: 
					a(href='http://d6.villanovau.com') Villanova University
			div(itemprop='url')
				p
					| View: 
					a(href='http://d6.villanovau.com/programs/certificates/agile-management/') Agile Management Training Online | AM Course | Villanova
		
		include /partials/header

		//- 
			This is the lead content section - 100% width of the page
			between nav/bread-crumbs and the main content below
		section.container.lead-content
			block lead-content
				h1 Why are you seeing this?
				p Probably because you didn't include a 'block lead-content' section.
		//- 
			This is the main content section - 100% width of the page 
			between lead display and tail/footer
		section.container.main-content
			block sidenav
				include /partials/agile-nav.jade
			//- 
				This is the main body section
			block body
				h1 Why are you seeing this?
				p Probaby because you didn't include a 'block body' section.

		section.container.col-md-12
			.span.tail
				.default-content
					block tail
						//- include /partials/form

				//- 
					Spread includes the "Resources" & "News" Sections that appear
					juat above the footer navigation.
				.spread
					.span6.modulelistheading.modulelistheading-article
						span.title2 Resources
						hr
						ul
							li
								a(href='/resources/bpm/retailers-use-bpm-holiday-rush/') Retailers Use BPM During the Holiday Sales Rush
							li
								a(href='/resources/project-management/configuration-management/') What Is Configuration Management?
							li
								a(href='/resources/project-management/work-breakdown-structure/') Work Breakdown Structure (WBS)
							li
								a(href='/resources/bi/bi-reporting-strategies-tools/') Business Intelligence: Applying Data to Strategic, Tactical Work
					.span6.modulelistheading.modulelistheading-news
						span.title2 News
						hr
						ul.news
							li
								div
									| Jul
									br
									strong 16
								a(href='/villanova-newsroom/business/unemployment-rate-drops/') U.S. Unemployment Claims Drop to Near 7-year Low
							li
								div
									| Jul
									br
									strong 15
								a(href='/villanova-newsroom/business/best-way-to-motivate-emplyees/')
									| Wall Street Discovers the Best Way to Motivate Employees is to Give Them More Responsibility
							li
								div
									| Jul
									br
									strong 15
								a(href='/villanova-newsroom/technology/ibm-spending-on-computer-chip-research/') IBM Spends $3 Billion on Future Computer Chip Research

		include /partials/footer
