/**
 * Breakpoints
 *
 * There are no common breakpoints; examples based on the official Sass styleguide
 * We need to define our own breakpoints to suite our design
 */
mobile-small 		= 240px
mobile-large 		= 320px
tablet-small 		= 480px
tablet-large 		= 768px
bs-large				= 790px
screen-small 		= 1024px
screen-medium 	= 1280px
screen-large 		= 1920px
