
/**
 * Color System
 *
 */

// Descriptive colors:
midnight-blue 				= #036
sushi 								= #84c446
cerulean 							= #00ADEF
active-blue						= cerulean

// Main color palette
color-primary 				= midnight-blue
color-secondary 			= active-blue
color-accent 					= cerulean

color-shadow 					= rgba(black, .125)
color-note 						= midnight-blue

// Common colors
color-background 			= white
color-border-gray			= rgb(166,166,166)

// Links
color-link 						= color-primary
color-link-hover 			= midnight-blue
color-link-visited 		= color-shadow

// Code
color-code 						= #333
color-code-background = #f3f3f3
color-pre 						= #d4d4d4
color-pre-background 	= #333

// Messages
color-message 				= #f4ecbb
color-success 				= #2cde2c
color-warning 				= #cf8600
color-important 			= #d00
color-notice 					= #66b
color-cta 						= sushi

// Defaults
color-page-default-background 			= white //#f7f7f7

// Agile Navigation
color-nav-header 									= rgba(42,48,62,1)
color-nav-header-active 					= rgba(26,40,87,1)
color-nav-element-active 					= rgba(231,231,229,1)
