
/**
 * Define z-index for various elements to conform to
 *
 * @link http://www.sitepoint.com/using-sass-maps/
 * @type number
 */
z-index-modal 				= 9000
z-index-overlay 			= 8000
z-index-dropdown 			= 7000
z-index-header 				= 6000
z-index-footer 				= 5000
