.mainContent
	.cert
		&.overview h2
			font-size 2em
			font-weight font-weight-normal
			margin 0 0 0.2em

		h2
			font-size 1.2em
			font-weight font-weight-semibold
			margin 0 0.1em

		p + h2
			margin-top 1em
