aside.prog-navigation
	box-sizing border-box
	padding-right 0
		
	@media (min-width 20em)
		display none
		
	@media (min-width 48.75em)
		display inline-block
		float left
		width 25%

	& + .sub-container
		@media (min-width 48.75em)
			width 75%
			display inline-block
			float left

section.main-content.container
	overflow hidden
