extends /templates/html-shell

block lead-content
	.lead-display.overview
	h1 <strong>NEW!</strong> Master Certificate in <strong>Agile Management</strong>
	a.cta.btn(href="#") Learn More

block body
	section.sub-container.col-md-9
		.span.primary
			.default-content
				div
					.mainContent
						div
							header.cert.overview
								h2 Assess, Adapt and Achieve!
								p Agile is the emerging process improvement approach that’s enabling a growing number of companies and IT departments to see quicker wins and create higher quality deliverables. Exceptionally collaborative and adaptive by design, the Agile approach breaks projects into small, manageable pieces, allowing project teams to quickly identify and resolve any issues early on.
								.clearfix
							nav.overview-course-sub-nav
								h3 Choose from these Villanova-exclusive Agile certificate programs
								ul
									li
										a.screen.agile-management(href='#') Master Certificate in Agile Management
									li
										a.screen.agile-management-it(href='#') Master Certificate in Agile Management &ndash; IT
