aside.prog-navigation.col-md-3
	.span.secondary
		.default-content
			nav.main-nav
				ul.courses-nav-overview.nav-header
					div.icon
					li.nav-item
						h3#overview 
							| <strong>Agile</strong> Course Overview
				ul.courses-nav-items.nav-header.active
					div.icon
					li.nav-item.active
						h3#0 
							span Master Certificate in Agile Management
					li.nav-item
						h3#1 
							span Master Certificate in Agile Management - IT
				ul.courses-nav-library.nav-header
					div.icon
					li.nav-item
						h3#learning-library
							| <strong>Learning Library</strong>
							| Career-Building Content
							span Includes videos, webinars, white papers and program brochures.
