.container
	nav.breadcrumbs
		ul
			li.crumb
				a(href="http://d6.villanovau.com/") Home
			li.crumb
				a(href="http://d6.villanovau.com/programs/") Programs
			li.crumb
				a(href="http://d6.villanovau.com/programs/certificates/") Certificate Programs
			li.crumb
				| Agile Management
