.bat-primary
	#batForm
		span.title2 Learn More
		.form-description
		script(type='text/javascript').
			var LeadSystem = LeadSystem || {};
			LeadSystem.TCPA = LeadSystem.TCPA || {};
			LeadSystem.TCPA = {"disclosureName": "UA-Online", "overwrite": false};
		form#LeadSystem.leadsystem.labelsInside(novalidate='novalidate', action='//dev.info.bisk.com/bat/submitform?sourceid=199664&returnUrl=%2f%2fd6.villanovau.com%2fprograms%2fcertificates%2fagile-management%2f%3fformsubmit%3dtrue', data-batpublicurl='dev.info.bisk.com/bat', data-formid='18225', data-sourceid='199664', method='post', name='LeadSystem')
			.field-validation-error-messaging(data-valmsg-summary='true')
				h6 Oops! Please complete the highlighted fields.
				ul
				span.arrow
					span
			input#SessionID(name='SessionID', type='hidden')
			.required-note *Indicates required field.
			script.
				var parentChildOptions = [];
			#field5598.program.selectfield.field.hideLabel
				label(style='display: none;', for='Element5598') * Type of Program Interested In: 
				select#Element5598.required(data-val='true', data-val-required='Type of Program Interested In	is required.', name='Element5598')
					option(label='* Type of Program Interested In: ', selected='selected', value='') * Type of Program Interested In: 
					optgroup(label='Undergraduate Degrees')
						option(value='pid-528') BA in Media and Technology
						option(value='pid-529') BA in Leadership Studies
						option(value='pid-530') BIS General Studies
						option(value='pid-374') RN to BSN Program
					optgroup(label='Graduate Degrees')
						option(value='pid-170') MS in Human Resource Development
						option(value='pid-182') Master of Public Administration (MPA)
					optgroup(label='Certificates')
						option(value='pid-15') Master Certificate Six Sigma
						option(value='pid-295') Master Certificate in Six Sigma - Healthcare
						option(value='pid-297') Master Certificate in Six Sigma - Information Technology
						option(value='pid-296') Master Certificate in Six Sigma - Financial Services
						option(value='pid-301') Advanced Master Certificate in Lean Six Sigma
						option(value='pid-10') Master Certificate Appld Proj Mgt
						option(value='pid-451') Master Certificate in Applied Project Management - Healthcare
						option(value='pid-531') Master Certificate in Lean Project Management
						option(value='pid-11') Master Certificate IS/IT Proj Mgt
						option(value='pid-93') Advanced Master Certificate in Applied Project Management
						option(value='pid-351') Master Certificate Lean Enterprise Solutions
						option(value='pid-352') Master Certificate Lean Enterprise Solutions - Healthcare
						option(value='pid-376') Master Certificate Lean Enterprise Solutions - Financial Services
						option(value='pid-353') Master Certificate Lean Enterprise Solutions - IT
						option(value='pid-27') Master Certificate IS Security
						option(value='pid-95') Master Certificate in Information Security Mgt
						option(value='pid-315') Master Certificate Info Security Mgt - Govt
						option(value='pid-513') Advanced Master Certificate in Cyber Security
						option(value='pid-20') Master Certificate Commercial Contract Mgt
						option(value='pid-21') Master Certificate Govt Contract Mgt
						option(value='pid-434') Master Certificate in Business Process Management
						option(value='pid-458') Master Certificate in Business Process Management - Healthcare
						option(value='pid-318') Master Certificate in Business Intelligence
						option(value='pid-454') Master Certificate in Business Intelligence - Healthcare
						option(value='pid-30') Master Certificate Business Analysis
						option(value='pid-33') Master Certificate HR Management
						option(value='pid-24') Master Certificate Org Leadership
						option(value='pid-106') Master Certificate in ROI Methodology
						option(value='pid-316') Master Certificate in IT Service Management
						option(value='pid-98') Master Certificate in Software Testing
				span.field-validation-valid(data-valmsg-for='Element5598', data-valmsg-replace='true')
			#field34.selectfield.field.hideLabel
				label(style='display: none;', for='Element34') * Country:
				select#Element34.required.customcountry(data-val='true', data-val-required='Country is required.', name='Element34')
					option(label='* Country:', selected='selected', value='') * Country:
					option(value='3564') USA
					option(value='3565') AFGHANISTAN
					option(value='3566') ALBANIA
					option(value='3567') ALGERIA
					option(value='3568') AMERICAN SAMOA
					option(value='3569') ANDORRA
					option(value='3570') ANGOLA
					option(value='3571') ANGUILLA
					option(value='3572') ANTIGUA
					option(value='3573') ARGENTINA
					option(value='3574') ARMENIA
					option(value='3575') ARUBA
					option(value='3576') AUSTRALIA
					option(value='3577') AUSTRIA
					option(value='3578') AZERBAIJAN
					option(value='3579') BAHAMAS
					option(value='3580') BAHRAIN
					option(value='3581') BANGLADESH
					option(value='3582') BARBADOS
					option(value='3583') BARBUDA
					option(value='3584') BOTSWANA
					option(value='3585') BELARUS
					option(value='3586') BELGIUM
					option(value='3587') BELIZE
					option(value='3588') BENIN
					option(value='3589') BERMUDA
					option(value='3590') BHUTAN
					option(value='3591') BOLIVIA
					option(value='3592') BOSNIA
					option(value='3593') BRAZIL
					option(value='3594') BRITISH VIRGIN ISLANDS
					option(value='3595') BRUNEI
					option(value='3596') BULGARIA
					option(value='3597') BURKINA FASO
					option(value='3598') BURUNDI
					option(value='3599') CAICOS ISLANDS
					option(value='3600') CAMBODIA
					option(value='3601') CAMEROON
					option(value='3602') CANADA
					option(value='3603') CAPE VERDE
					option(value='3604') CAYMAN ISLANDS
					option(value='3605') CENTRAL AFRICAN REPUBLIC
					option(value='3606') CHAD
					option(value='3607') CHILE
					option(value='3608') CHINA
					option(value='3609') COLOMBIA
					option(value='3610') COMOROS
					option(value='3611') CONGO
					option(value='3612') COOK ISLANDS
					option(value='3613') COSTA RICA
					option(value='3614') COTE D IVOIRE
					option(value='3615') CROATIA
					option(value='3616') CYPRUS
					option(value='3617') CZECH REPUBLIC
					option(value='3618') DENMARK
					option(value='3619') DOMINICA
					option(value='3620') DOMINICAN REPUBLIC
					option(value='3621') ECUADOR
					option(value='3622') EGYPT
					option(value='3623') EL SALVADOR
					option(value='3624') ERITREA
					option(value='3625') ESTONIA
					option(value='3626') ETHIOPIA
					option(value='3627') FALKLAND ISLANDS
					option(value='3628') FIJI
					option(value='3629') FINLAND
					option(value='3630') FAEROE ISLANDS
					option(value='3631') FRANCE
					option(value='3632') FRENCH GUIANA
					option(value='3633') FRENCH POLYNESIA
					option(value='3634') FUTUNA
					option(value='3635') GABON
					option(value='3636') GAMBIA
					option(value='3637') GEORGIA
					option(value='3638') GERMANY
					option(value='3639') GHANA
					option(value='3640') GIBRALTAR
					option(value='3641') GREECE
					option(value='3642') GREENLAND
					option(value='3643') GRENADA
					option(value='3644') GRENADINES
					option(value='3645') GUADELOUPE
					option(value='3646') GUAM
					option(value='3647') GUATEMALA
					option(value='3648') GUATIRE
					option(value='3649') GUINEA
					option(value='3650') GUYANA
					option(value='3651') HAITI
					option(value='3652') HERZEGOVINA
					option(value='3653') HONDURAS
					option(value='3654') HONG KONG
					option(value='3655') HUNGARY
					option(value='3656') ICELAND
					option(value='3657') INDIA
					option(value='3658') INDONESIA
					option(value='33674') IRAQ
					option(value='3659') IRELAND
					option(value='3660') ISRAEL
					option(value='3661') ITALY
					option(value='3662') JAMAICA
					option(value='3663') JAPAN
					option(value='3664') JORDAN
					option(value='3665') KAZAKHSTAN
					option(value='3666') KENYA
					option(value='3667') KIRIBATI
					option(value='3668') KUWAIT
					option(value='3669') KYRGYZSTAN
					option(value='3670') LAOS
					option(value='3671') LATVIA
					option(value='3672') LEBANON
					option(value='3673') LESOTHO
					option(value='3674') LIBERIA
					option(value='3675') LIECHTENSTEIN
					option(value='3676') LITHUANIA
					option(value='3677') LITHUANIAN
					option(value='3678') LUXEMBOURG
					option(value='3679') MACAU
					option(value='3680') MACEDONIA
					option(value='3681') MADAGASCAR
					option(value='3682') MALAWI
					option(value='3683') MALAYSIA
					option(value='3684') MALDIVES
					option(value='3685') MALI
					option(value='3686') MALTA
					option(value='3687') MARSHALL ISLANDS
					option(value='3688') MARTINIQUE
					option(value='3689') MAURITANIA
					option(value='3690') MAURITIUS
					option(value='3691') MAYOTTE
					option(value='3692') MEXICO
					option(value='3693') MICRONESIA
					option(value='3694') MIGUELON
					option(value='3695') MOLDOVA
					option(value='3696') MONACO
					option(value='3697') MONGOLIA
					option(value='3698') MONTSERRAT
					option(value='3699') MOROCCO
					option(value='3700') MOZAMBIQUE
					option(value='3701') MYANMAR
					option(value='3702') NAMIBIA
					option(value='3703') NAURU
					option(value='3704') NEPAL
					option(value='3705') NETHERLANDS
					option(value='3706') NETHERLANDS ANTILLES
					option(value='3707') NEW CALEDONIA
					option(value='3708') NEW ZEALAND
					option(value='3709') NICARAGUA
					option(value='3710') NIGERIA
					option(value='3711') NORTH CYPRUS
					option(value='3712') NORTHERN MARIANA ISLANDS
					option(value='3713') NORWAY
					option(value='3714') OMAN
					option(value='3715') PAKISTAN
					option(value='3716') PANAMA
					option(value='3717') PAPUA NEW GUINEA
					option(value='3718') PARAGUAY
					option(value='3719') PERU
					option(value='3720') PHILIPPINES
					option(value='3721') POLAND
					option(value='3722') PORTUGAL
					option(value='3723') QATAR
					option(value='3724') REUNION
					option(value='3725') ROMANIA
					option(value='3726') RUSSIA
					option(value='3727') RWANDA
					option(value='3728') SAINT HELENA
					option(value='3729') SAINT KITTS AND NEVIS
					option(value='3730') SAINT LUCIA
					option(value='3731') SAINT PIERRE
					option(value='3732') SAINT VINCENT
					option(value='3733') SAN MARINO
					option(value='3734') SAO TOME AND PRINCIPE
					option(value='3735') SAUDI ARABIA
					option(value='3736') SENEGAL
					option(value='3737') SEYCHELLES
					option(value='3738') SIERRA LEONE
					option(value='3739') SINGAPORE
					option(value='3740') SLOVAKIA
					option(value='3741') SLOVENIA
					option(value='3742') SOLOMON ISLANDS
					option(value='3743') SOMALIA
					option(value='3744') SOUTH AFRICA
					option(value='3745') SOUTH KOREA
					option(value='3746') SPAIN
					option(value='3747') SRI LANKA
					option(value='3748') SUDAN
					option(value='3749') SURINAME
					option(value='3750') SWAZILAND
					option(value='3751') SWEDEN
					option(value='3752') SWITZERLAND
					option(value='3753') SYRIA
					option(value='3754') TAIWAN
					option(value='3755') TAJIKISTAN
					option(value='3756') TANZANIA
					option(value='3757') THAILAND
					option(value='3758') TOGO
					option(value='3759') TONGA
					option(value='3760') TRINIDAD
					option(value='3761') TRINIDAD AND TOBAGO
					option(value='3762') TUNISIA
					option(value='3763') TURKEY
					option(value='3764') TURKMENISTAN
					option(value='3765') UGANDA
					option(value='3766') UKRAINE
					option(value='3767') UNITED ARAB EMIRATES
					option(value='3768') UNITED KINGDOM
					option(value='3769') URUGUAY
					option(value='30600') US VIRGIN ISLANDS
					option(value='3770') UZBEKISTAN
					option(value='3771') VANUATU
					option(value='3772') VATICAN CITY
					option(value='3773') VENEZUELA
					option(value='3774') VIETNAM
					option(value='3775') WALLIS
					option(value='3776') WEST INDIES
					option(value='3777') WESTERN SAHARA
					option(value='3778') WESTERN SAMOA
					option(value='3779') YEMEN
					option(value='3780') YUGOSLAVIA
					option(value='3781') ZAIRE
					option(value='3782') ZAMBIA
					option(value='3783') ZIMBABWE
				span.field-validation-valid(data-valmsg-for='Element34', data-valmsg-replace='true')
			#field129.education.selectfield.field.hideLabel
				label(style='display: none;', for='Element129') * Highest Level of Education:
				select#Element129.required(data-val='true', data-val-required='Highest Level of Education is required.', name='Element129')
					option(label='* Highest Level of Education:', selected='selected', value='') * Highest Level of Education:
					option(value='4888') High School
					option(value='4889') 1 Year of College
					option(value='4890') 2 Years of College
					option(value='4891') 3 Years of College
					option(value='10292') Associates
					option(value='32555') BSN (Nursing)
					option(value='4892') Bachelors
					option(value='4893') RN (Diploma Nurse)
					option(value='4894') RN (ADN)
					option(value='32556') MSN (Nursing)
					option(value='4895') Some Graduate
					option(value='4896') Masters
					option(value='4994') Doctorate or Equivalent
				span.field-validation-valid(data-valmsg-for='Element129', data-valmsg-replace='true')
			#field2.firstname.textfield.field.blurInput
				label(for='Element2') * First Name:
				input#Element2.required(data-val='true', data-val-required='First Name is required.', maxlength='50', name='Element2', type='text')
				span.field-validation-valid(data-valmsg-for='Element2', data-valmsg-replace='true')
			#field6.lastname.textfield.field.blurInput
				label(for='Element6') * Last Name:
				input#Element6.required(data-val='true', data-val-required='Last Name is required.', maxlength='50', name='Element6', type='text')
				span.field-validation-valid(data-valmsg-for='Element6', data-valmsg-replace='true')
			#field116.phone.textfield.field.blurInput
				label(for='Element116') * Phone:
				input#Element116.customphone.required(data-val='true', data-val-required='Phone is required.', maxlength='50', name='Element116', type='text')
				span.field-validation-valid(data-valmsg-for='Element116', data-valmsg-replace='true')
			#field8.email.textfield.field.blurInput
				label(for='Element8') * Email:
				input#Element8.required(data-val='true', data-val-email='Please enter a valid email address.', data-val-required='Email is required.', maxlength='50', name='Element8', type='text')
				span.field-validation-valid(data-valmsg-for='Element8', data-valmsg-replace='true')
			#field5425.military.selectfield.field.hideLabel
				label(style='display: none;', for='Element5425') * Military Affiliation:
				select#Element5425.required.selectSelected(data-val='true', data-val-required='Military Affiliation is required.', name='Element5425')
					option(label='* Military Affiliation: None', selected='selected', value='32514') * Military Affiliation: None
					option(value='32515') US Servicemember
					option(value='32516') Veteran
					option(value='32517') Military Spouse
				span.field-validation-valid(data-valmsg-for='Element5425', data-valmsg-replace='true')
			button.submit(title='Get More Info', type='submit') Get More Info
script.
	var LeadSystem = LeadSystem || {};
	LeadSystem.FormData = {"source":"199664"};
