header
	.container
		include /partials/logo.html

		.quickaccess
			div
				dl
					dd
						a(href='http://d6.villanovau.com/getting-started/certificate-apply-online-now/', title='Apply Online')
							| Apply 
							span Now
				dl
					dd
						a(href='http://d6.villanovau.com/classroom-login/')
							span Classroom 
							| Login
			div
				dl.chatlink
					dt
						img(src='http://d6.villanovau.com/images/chatbicon.png', alt='Chat Live')
					dd
						a(rel='chat', href='http://d6.villanovau.com/online-education-information')
							| Chat 
							span Live
				dl
					dt
						img(src='http://d6.villanovau.com/images/phonebicon.png', alt='Call Now')
					dd
						a(href='tel:855-300-1473')
							span Call Now
							|  855-300-1473

include /partials/main-navigation
include /partials/bread-crumbs
