.container
	nav.main
		ul.menu
			li#programs.mainNavButton
				a.mainNavLink(href='http://d6.villanovau.com/programs/') Programs
				.submenu
					.span12
						dl
							dt Certificate Programs
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/project-management/') Project Management
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/six-sigma/') Six Sigma
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/business-and-law-of-sports/') Business and Law of Sports
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/bpm-certificate/') Business Process Mgmt
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/contract-management/') Contract Management
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/information-security/') IS Security
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/business-analysis/') Business Analysis
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/software-testing/') Software Testing
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/it-service-management-online/') IT Service Mgmt - ITIL®
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/business-intelligence/') Business Intelligence
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/roi-methodology/') ROI Methodology
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/leadership/') Leadership
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/human-resources/') Human Resources
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/certificates/agile-management/') Agile Management
							dt Graduate Programs
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/graduate/hr-masters-degree/') Human Resource Development
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/graduate/mpa-degree-online/') Public Administration (MPA)
							dt Undergraduate
							dd
								a.subNavLink(href='http://d6.villanovau.com/programs/undergraduate/rn-to-bsn-online/') RN to BSN
			li#getting-started.mainNavButton
				a.mainNavLink(href='http://d6.villanovau.com/getting-started/') Getting Started
				dl.submenu
					dt Certificate Programs
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/online-tuition/') Tuition
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/certificate-military-tuition-assistance/') Military Tuition Assistance
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/certificate-apply-online-now/') Enroll Online Now
					dt Graduate Degrees
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/graduate-admission-requirements/') Admissions
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/graduate-school-financial-aid/') Tuition & Financial Aid
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/online-masters-degree-military/') Military Tuition Assistance
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/international-graduate-students/') International Students
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/graduate-apply-online-now/') Apply Online Now
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/masters-degree-requirements/') Program Policies
					dd
						a.popupwindow(href='http://d6.villanovau.com/programs/degree-academic-calendar/', rel='windowDemo') Graduate Degree Calendar
					dt Undergraduate Degree
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/undergraduate-admission-requirements/') Admissions
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/undergraduate-tuition-financial-aid/') Tuition & Financial Aid
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/undergraduate-military-financial-aid/') Military Tuition Assistance
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/undergraduate-international-students/') International Students
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/undergrad-apply-online-now/') Apply Online Now
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/undergraduate-policies/') Program Policies
					dd
						a.popupwindow(href='http://d6.villanovau.com/programs/degree-academic-calendar/', rel='windowDemo') Undergraduate Degree Calendar
					dt Apply Online
					dd
						a.subNavLink(href='http://d6.villanovau.com/getting-started/apply/') Apply Online
			li#business-solutions.mainNavButton
				a.mainNavLink(href='http://d6.villanovau.com/solutions/') Business Solutions
				.submenu
					.span12
						dl
							dt Business Solutions
							dd
								a.subNavLink(href='http://d6.villanovau.com/solutions/corporate-training/') Corporate Training
							dd
								a.subNavLink(href='http://d6.villanovau.com/solutions/corporate-education-training/') Client List
			li#military.mainNavButton
				a.mainNavLink(href='http://d6.villanovau.com/military/') Military
				dl.submenu
					dt Active-Duty, Veteran & Family
					dd
						a.subNavLink(href='http://d6.villanovau.com/military/active-duty/') Active Duty
					dd
						a.subNavLink(href='http://d6.villanovau.com/military/veteran/') Veteran
					dd
						a.subNavLink(href='http://d6.villanovau.com/military/family/') Family
					dd
						a.subNavLink(href='http://d6.villanovau.com/military/active-duty-dynamic-batform-template-c/') Active Duty -Dynamic Batform Template C
			li#government.mainNavButton.nosubmenu
				a.mainNavLink(href='http://d6.villanovau.com/solutions/government-education-programs/') Government
			li#about-us.mainNavButton
				a.mainNavLink(href='http://d6.villanovau.com/about/') About Us
				dl.submenu
					dt Villanova University
					dd
						a.subNavLink(href='http://d6.villanovau.com/about/university-online/') The University
					dd
						a.subNavLink(href='http://d6.villanovau.com/about/accreditation/') Accreditation
					dd
						a.subNavLink(href='http://d6.villanovau.com/about/university-success-stories/') Success Stories
					dd
						a.popupwindow(href='http://d6.villanovau.com/programs/faculty-staff/', rel='windowDemo') Faculty
					dt University Alliance
					dd
						a.subNavLink(href='http://d6.villanovau.com/about/worldwide-leader/') A Worldwide Leader
					dd
						a.subNavLink(href='http://d6.villanovau.com/about/online-learning/') Online Learning
					dt Help Center
					dd
						a.subNavLink(href='http://d6.villanovau.com/about/support/') Support
					dd
						a.popupwindow(href='http://d6.villanovau.com/programs/certificate-programs-faqs/', rel='windowDemo') Certificate FAQs
					dd
						a.popupwindow(href='http://d6.villanovau.com/programs/graduate-programs-faqs/', rel='windowDemo') Graduate FAQs
					dd
						a.popupwindow(href='http://d6.villanovau.com/programs/undergraduate-program-faqs/', rel='windowDemo') Undergraduate FAQs
			li#sample-lectures.mainNavButton
				a.mainNavLink(href='http://d6.villanovau.com/resources/sample-lectures/') Sample Lectures
				dl.submenu
					dt Certificate Programs
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/project-management/', rel='windowDemo') Project Management
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/six-sigma/', rel='windowDemo') Six Sigma
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/business-process-management/', rel='windowDemo') Business Process Management
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/contract-management/', rel='windowDemo') Contract Management
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/is-security/', rel='windowDemo') IS Security
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/business-analysis/', rel='windowDemo') Business Analysis
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/software-testing/', rel='windowDemo') Software Testing
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/it-service-management-itil/', rel='windowDemo') IT Service Management - ITIL
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/business-intelligence/', rel='windowDemo') Business Intelligence
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/human-resources/', rel='windowDemo') Human Resources
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/roi-methodology/', rel='windowDemo') ROI Methodology
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/leadership/', rel='windowDemo') Leadership
					dt Graduate Programs
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/master-of-public-administration/', rel='windowDemo') Master of Public Administration
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/master-of-science-in-hr-development/', rel='windowDemo') Master of Science in HR Development
					dt Undergraduate Programs
					dd
						a.popupwindow(href='http://d6.villanovau.com/resources/sample-lectures/rn-to-bsn-program/', rel='windowDemo') RN to BSN Program
			li.skip
				a(href='#navi') |||
		.searchBar
			form.searchForm(action='http://d6.villanovau.com/search-results/', method='GET')
				input.searchInput(name='q', type='text')
				button(type='submit')
				img(src='http://d6.villanovau.com/images/ratio_16-9.png', title='Villanova University | Degree and Certificate Programs Online', alt='Villanova University | Degree and Certificate Programs Online   /search-results/', width='0', height='0', border='0')
		button#clickRequest.requestinfo.modal-control Request Information
		img(src='http://d6.villanovau.com/images/ratio_16-9.png', title='Request Information About Villanova University | Degree and Certificate Programs Online', alt='Request Information About Villanova University | Degree and Certificate Programs Online', width='0', height='0', border='0')
